.customButton {
    color: #000;
    background-color: #fff;
    border: 2px solid #097954;
    border-radius: 35px;
    padding: 0.8rem 1.5rem;
    transition-property: color, background-color;
    transition-duration: 0.4s;
}

.customButton:hover {
    color: #fff;
    background-color: #097954;
}