.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #097954;
    border-bottom: 1px solid #097954;
    padding: 1rem 0;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.2rem;
}