.navigation{
    position: sticky;
    top: 0;
    color: #fff;
    font-size: 1.5rem;
    background-color: #097954;
    margin-bottom: 50px;
    z-index: 1;
}
.navContainer, .navContainer > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding-left: 0;
}

.link a {
    text-decoration: none;
    color: unset;
}

.cart button {
    background-color: unset;
    border: unset;
    color: unset;
    display: flex;
    align-items: center;
}

.badge {
    position: relative;
    bottom: 20px;
}

.cart button + ul {
    position: absolute;
    right: 20px;
    top: 130px;
    max-height: 320px;
    overflow-y: scroll;
    background-color: #fff;
    font-size: 1rem;
    color: #000;
    width: 300px;
    padding: 1rem;
    list-style: none;
    animation-name: MovingUp;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes MovingUp {
    from {
        top: 130px;
    }
    to {
        top: 68px;
    }
}