.rowProduct { display: flex; gap: 50px; overflow: hidden; margin-bottom: 20px;}

.productImg {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    overflow: unset;
}

.productImg div {
    position: absolute;
    left: 0;
    top: 250px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: top;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.productImg:hover div { top: 0px; }

.productImg div a { color: #fff; }

.productInfo { width: 100%; }
.productInfo > div:first-child, .productInfo > div:first-child div {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.productInfo p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.productInfo div h4:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}